body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background: #fff;
}

.container {
    width: 980px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

a {
    color: #1C1C1C;
}

a:hover {
    color: #1c1c1c;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/*btn*/

.btn {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-family: inherit;
    padding: 5px 5px;
    background: linear-gradient(to right, #C11717, #E42626);
}

.btn:focus {
    box-shadow: 0 0 0 2px #f26060;
}

.btn:hover {
    color: #E42626;
    background: #fff;
    box-shadow: 0 0 0 2px #f26060;
    transition: .2s;
    font-weight: 800;
}

.btn--header {
    width: 140px;
    height: 30px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    box-shadow: 0 0 0 2px #C11717;
    margin: 10px auto;
}

.btn--big {
    width: 300px;
    height: 65px;
    font-size: 18px;
    margin: 48px 100px 0 0;
    float: left;

    font-weight: 700;
    position: relative;
    z-index: 3;
    box-shadow: 0 0 0 2px #f26060;
}

.btn--price {
    width: 200px;
    height: 55px;
    background: linear-gradient(to bottom, #FF4921, #FF4C25);
    margin-bottom: 15px;
    box-shadow: 0 0 0 2px #f26060;
}

.btn--green {
    width: 200px;
    height: 55px;
    background: linear-gradient(to bottom, #008E00, #00A200);
    margin-bottom: 15px;
    box-shadow: 0 0 0 2px rgb(54, 119, 6);
}

.btn--blue {
    width: 200px;
    height: 55px;
    background: linear-gradient(to bottom, #02388F, #001C67);
    margin-bottom: 15px;
     box-shadow: 0 0 0 2px #271493;
}

.btn--blue:hover {
    box-shadow: 0 0 0 2px #442fbc;
    color: #442fbc;
}

.btn--green:hover {
    box-shadow: 0 0 0 2px rgba(21, 142, 11, 0.97);
    color: #00A200;
}

.btn--contact {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(to bottom, #C11717, #E42626);
    width: 320px;
    height: 65px;
    border: 1px #E42626;
    border-radius: 5px;
    line-height: 63px;
}

.btn--contact:hover {
    background: #CC0000;
}


/*header*/

.header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #F5F5F5;
    background: #fff;
    position: relative;




}

.header-fixed header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    position:fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;


}

.nav {
    width: 940px;
    font-size: 14px;
    font-weight: 300;
    margin: 0 auto;


}

.nav-item {
    height: 50px;
    line-height: 50px;
    padding: 0 15px 0 15px;
}

.nav-link {
    padding: 0;
    color: #1C1C1C;
}


/*intro*/

.intro {
    width: 100%;
    height: 80px;
    display: block;
    margin-top: 50px;
}

.intro__contact {
    display: flex;
    justify-content: space-between;
}

.intro__logo {
    line-height: 80px;
    display: block;
}

.logo_1 {
    width: 35px;
    height: 40px;
}

.logo_2 {
    width: 145px;
    height: 23px;
}

.connection {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 80px;
}

.connection a:hover,
.intro__number a:hover {
    color: #C11717;
}

.intro__number {
    font-size: 18px;
    font-weight: 500;
    line-height: 80px;
}

.intro__phone {
    line-height: 80px;
}

.phone__logo {
    fill: #C11717;
    padding: 6px;
    border: 2px solid #C11717;
    border-radius: 5px;
}

.phone__logo:first-child {
    margin-right: 15px;
}

.phone {
    width: 20px;
    height: 20px;
    fill: #C11717;
}


/*intro---///*/


/*section*/

.section {
    width: 100%;
    height: 610px;
    background: url(../img/img_01.png) no-repeat center center;
    background-size: cover;
    background-size: auto 100%;
    position: relative;
}

.section:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}
.section__content {
    padding: 110px 0px  0px;
    margin-bottom: 55px;
}



.section__title {
    color: #fff;
    font-size: 32px;
    width: 845px;
    text-align: start;
    position: relative;
    z-index: 3;
    padding-bottom: 45px;
}



.section__text {
    width: 630px;
    color: #fff;
    position: relative;
    z-index: 3;
    font-weight: 500;
    text-align: start;
    font-size: 24px;
}

.section__text p {
    font-size: 24px;
    margin-top: 45px;
    font-weight: 500;
}


/*services*/

.services {
    width: 100%;
    height: 610px;
}

.services__title {
    font-weight: 700;
    font-size: 30px;
    color: #1C1C1C;
    margin: 65px auto 85px;
}

.services__item {
    margin-bottom: 90px;
}

.services__inner {
    width: 225px;
    height: 48px;
}

.services__inner a {
    display: block;
}

.services__svg {
    width: 46px;
    height: 47px;
    float: left;
    fill: #C20C0C;
}

.service__subtitle {
    font-size: 16px;
    line-height: 47px;
}

.service__subtitle:hover {
    color: #C11717;
}


/*services====////*/


/*about*/

.about {
    width: 100%;
    height: 600px;
    background: url(../img/img_02.png) no-repeat center center;
    background-size: cover;
    position: relative;
}

.about:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}

.about__title {
    display: block;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding: 88px 0 70px 0;
    position: relative;
    z-index: 3;
}

.about__link {}

.about__text {
    position: relative;
    z-index: 3;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}

.about__statistics {
    position: relative;
    z-index: 3;
    color: #fff;
    padding: 45px 0 120px 0;
}

.about__number {
    display: block;
    font-size: 48px;
    font-weight: 700;
}


/*ways*/

.ways {
    width: 100%;
    height: 500px;
    background: #F5F5F5;
}

.ways__title {
    font-weight: 700;
    font-size: 30px;
    padding: 76px 0px 96px 0px;
}

.ways__item {}

.ways__inner {}

.ways__svg {
    width: 100px;
    height: 90px;
}

.ways__subtitle {
    font-size: 16px;
    font-weight: 300;
    margin-top: 48px;
}


/*ways ====///*/


/*platform*/

.platform {
    width: 100%;
    height: 470px;
    background: url(../img/img_03.png) no-repeat center center;
    background-size: cover;

    position: relative;
}

.platform:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}

.platform__title {
    display: block;
    position: relative;
    font-size: 30px;
    color: #fff;
    padding-top: 90px;
    z-index: 4;
}

.platform__step {
    position: relative;
    width: 700px;
    height: 130px;
    margin-left: 0;
    list-style: decimal;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    z-index: 3;
    margin: 85px auto;
}

.platform__link {
    padding-bottom: 20px;
    position: relative;
    z-index: 3;
    color: #fff;
}

.platform__link:hover {
    text-decoration: underline;
    color: #fff;
}

.step {
    padding-bottom: 15px;
}


/*reviews */

.reviews {
    width: 100%;
    height: 660px;
    background-color: #F5F5F5;
}

.reviews__title {
    font-size: 30px;
    text-align: center;
    color: #313131;
    font-weight: 700;
    padding: 89px 5px 34px;
}

.nav__reviews {
    color: #313131;
}

.nav-item {}

.nav-link--focus {
    border: 2px #E42626 solid;
    border-radius: 5px;
    color: #E42626;
}

.nav-link {
    font-size: 14px;
    font-weight: 300;
}

.nav-link:hover {
    color: #E42626;
}

.reviews__slider {
    width: 980px;
    height: 300px;
    margin: 35px auto 0;
    position: relative;
    padding: 0 45px;
    text-align: center;
}

.reviews__subtitle {
    font-size: 13px;
    font-weight: 300;
    padding: 15px 0px;
    width: 100%;
    text-align: start;
}

.reviews__subtitle:hover {
    text-decoration: underline;
    color: #E42626;
}



.reviews__item {
    width: 250px;
    padding: 0 15px 15px 15px;

}

.reviews__link {
    position: relative;
    z-index: 2;
}

.play_svg {
    width: 25x;
    height: 25px;
    position: absolute;

    left: -50%;
    z-index: 3;
}

.slick-active {
    outline: none;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.reviews__slider .slick-arrow {
    position: absolute;
    top: 35%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
}

.reviews__slider .slick-arrow:focus {
    border: none;
}

.reviews__slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/svg_right.svg') 0 0 / 100% no-repeat;
}

.reviews__slider .slick-arrow.slick-next {
    right: 0;
    background: url('../img/svg_left.svg') 0 0 / 100% no-repeat;
}


/*reviews==/// */


/*partners*/

.partners {
    width: 100%;
    height: 450px;
}

.partners__title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 90px auto 90px;
}

.partners__slider {
    width: 1000px;
    height: 145px;
    margin: 0 auto;
    position: relative;
    padding: 0 60px;
    text-align: center;
}

.partners__item {
    width: 220px;
    height: 140px;
    padding: 0 15px 0 15px;
}

.partners__inner {
    width: 220px;
    height: 170px;
    background: #26B83A;
    color: #fff;
    font-size: 12px;
    padding: 5px auto 5px;
}

.slick-active {
    outline: none;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.partners__slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
}

.partners__slider .slick-arrow:focus {
    border: none;
}

.partners__slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/svg_right.svg') 0 0 / 100% no-repeat;
}

.partners__slider .slick-arrow.slick-next {
    right: 0;
    background: url('../img/svg_left.svg') 0 0 / 100% no-repeat;
}


/*partners====///*/


/*rate*/

.rate {
    width: 100%;
    height: 1430px;
    background-color: #F5F5F5;
}

.rate__title {
    font-weight: 700;
    font-size: 30px;
    float: left;
    padding-top: 90px;
    line-height: 1.2;
}

.rate__text {
    width: 600px;
    padding: 160px 0px 20px;
}

.rate__subtitle {
    width: 610px;
    margin-bottom: 35px;
    text-align: start;
    font-size: 18px;
}

.rate__suptitle {
    display: block;
    width: 370px;
    float: left;
    font-size: 16px;
    font-weight: 300;


}

.nav__rate {
    width: 300px;
    float: right;


}

.comparisons {
    background-color: #ffffff;
    color: #000;
    width: 100%;
}

.comparisons__col {
    height: 920px;
    border: 1px solid #E8E8E8;
}

.comparisons__title {
    font-size: 20px;
    margin: 45px auto 51px;
}

.comparisons__img {

    width: 200px;
    height: 126px;

}

.comparisons__img img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

ul.comparisons__inner {
    list-style: none;
    font-size: 11px;
    font-weight: 300;
    margin: 30px;

}

.comparisons__item {
    height: 37px;
    line-height: 37px;
    vertical-align: middle;
    margin-left: -40px;
    border-bottom: 2px solid #F5F5F5;
}

.comparisons__item:first-child {
    border-top: 2px solid #F5F5F5;
}

.comparisons__item:hover {

}

.comparisons__price {
    font-size: 13px;
    font-weight: 300;
    margin: 180px auto 15px;
}

.price {
    font-size: 24px;
    margin-bottom: 25px;
}


/*rate====///*/


/*contact=====*/

.contact {
    width: 100%;
    height: 630px;

}

.contact__content {
    width: 50%;
    height: 630px;
    color: #000000;
}

.contact--left {
    background: #F5F5F5;
}


.contact__form {
    background: #F5F5F5;
    float: right;
    height: 630px;
    margin-right: 80px;
}


.form__title {
    width: 320px;
    height: 65px;

    margin: 65px 0px 50px;
    font-size: 18px;
    font-weight: 700;
    text-align: start;
    line-height: 1.5;
}

.form-control {
    font-family: inherit;
    width: 320px;
    height: 50px;
    color: #fff;
    text-align: start;
}

.form-group {
    text-align: start;
}

.form--message {
    width: 320px;
    height: 80px;
}

.button__center {
    width: 320px;
    height: 80px;
    margin: 30px 0px 100px;
}

.button__subtitle {
    font-size: 13px;
    font-weight: 300;
    margin: 15px auto 60px;
    text-align: center;
}

.contact__information {

    font-weight: 500;
    font-size: 17px;
    text-align: start;
    margin: 88px 0px 35px 155px;
}

.contact__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 67px;
}

.mail {
    text-decoration: underline;
}

.contact__item {
    margin-top: 21px;
    font-size: 13px;
    font-weight: 300;
}



/*contact=====   ///////*/


/*footer*/

.footer {
    width: 100%;
    height: 135px;
    background: #0E0E0E;
    color: #fff;
}

.footer__line {
    display: flex;
    justify-content: space-between;
}

.footer__link {
    display: block;
    width: 33%;
    color: #fff;
    line-height: 135px;
}

.logo {
    width: 190px;
    height: 40px;
}

.logo--2 {
    width: 150px;
    height: 54px;
    float: right;
    margin-top: 34px;
}

.footer__text {
    font-weight: 300;
    color: #fff;
    width: 150px;
    line-height: 135px;
    font-size: 13px;
}

.bureger {
    display: none;

}

.bureger__navbar {
    width: 350px;
    color: #fff;
    height: auto;
}

.bureger__item {

}


.bureger__link {
font-size: 16px;
    font-weight: 700;
    color: #fff !important;
}
.bureger__link:hover {
    font-size: 18px;
    color: #fff;
}

/*footer====///*/

/*MEDIA*/

@media (max-width: 999px) {
    .nav {
        display: none;
    }
    .bureger {
        display: block;
    }
    .intro {
        display: none;
    }

}









